@page "/Admin/Brands/{entityId}/Edit"
@model EditModel
@{
    ViewData["Title"] = Model.Brand.Name;
}

<form method="post">

    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Brand.EntityId"></label>
                <input type="text" class="form-control" readonly asp-for="@Model.Brand.EntityId" />
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Brand.Name"></label>
                <input type="text" class="form-control" asp-for="@Model.FormModel.Name" />
                <small class="text-danger">
                    @Html.ValidationMessageFor(x => x.FormModel.Name)
                </small>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Brand.Website"></label>
                <input type="text" class="form-control" asp-for="@Model.FormModel.Website" />
                <small class="text-danger">
                    @Html.ValidationMessageFor(x => x.FormModel.Website)
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Brand.Email"></label>
                <input type="text" class="form-control" asp-for="@Model.FormModel.Email" />
                <small class="text-danger">
                    @Html.ValidationMessageFor(x => x.FormModel.Email)
                </small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Brand.PhoneNumber"></label>
                <input type="text" class="form-control" asp-for="@Model.FormModel.PhoneNumber" />
                <small class="text-danger">
                    @Html.ValidationMessageFor(x => x.FormModel.PhoneNumber)
                </small>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" asp-for="@Model.FormModel.Active">
                        Active
                    </label>
                    <small class="d-block text-muted">Should this brand be shown throughout the website?</small>
                    <small class="d-block text-danger">
                        @Html.ValidationMessageFor(x => x.FormModel.Active)
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <a class="btn btn-light mr-1" asp-page="Index"><i class="fas fa-arrow-left fa-fw mr-2"></i>Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>