@model TheWebShop.WebApp.Models.BasePaginatedPage
@{
    int paginationCount = Model.TotalResults / Model.ps;
    double paginationRest = Model.TotalResults % Model.ps;

    if (paginationRest > 0)
    {
        paginationCount += 1;
    }
    else if (paginationCount == 0 && paginationRest > 0)
    {
        paginationCount = 1;
    }
}

<div class="w-100 d-flex justify-content-center align-items-center">
    <nav aria-label="navigation">
        <ul class="pagination mb-0">
            <li class="page-item@(Model.p == 1 ? " disabled" : "")">
                <a class="page-link" asp-all-route-data="@Model.preexistingFilters" asp-route-p="@(Model.p - 1)" asp-route-ps="@(Model.ps)">
                    <i class="fas fa-angle-left fa-fw"></i>
                </a>
            </li>

            @for (var i = 0; i < paginationCount; i++)
            {
                <li class="page-item@(Model.p == i + 1 ? " active" : "")">
                    <a class="page-link" asp-all-route-data="@Model.preexistingFilters" asp-route-p="@(i + 1)" asp-route-ps="@(Model.ps)">@(i + 1)</a>
                </li>
            }

            <li class="page-item@(paginationCount == Model.p ? " disabled" : "")">
                <a class="page-link" asp-all-route-data="@Model.preexistingFilters" asp-route-p="@(Model.p + 1)" asp-route-ps="@(Model.ps)">
                    <i class="fas fa-angle-right fa-fw"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>