@page
@using TheWebShop.Common.Filters.Category
@model IndexModel
@{
    ViewData["Title"] = "Categories";
}

<section class="position-sticky bg-white border-bottom" style="top: 0">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h3 class="m-0">Categories</h3>
            <small class="d-block text-muted mb-2">Donec vitae erat hendrerit, hendrerit lectus at, faucibus odio.</small>
        </div>

        <a class="btn btn-light btn-sm" asp-page="Create">
            <i class="fas fa-plus fa-fw mr-2"></i>
            Category
        </a>
    </div>

    <form method="get" class="d-flex">

        <div class="form-group mr-2">
            <div class="input-group">
                <input class="form-control border" asp-for="@Model.Filter.Query"/>
                <div class="input-group-append">
                    <button class="btn btn-light border">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <select class="custom-select" asp-for="@Model.Filter.OrderBy" asp-items="@(Html.GetEnumSelectList<CategoryOrderBy>())" onchange="this.form.submit()">
            </select>
        </div>
        
        <input type="hidden" asp-for="@Model.Filter.Parent" />

        <div class="d-flex align-items-center justify-content-center ml-auto mb-auto">
            <small class="mr-3 text-muted text-nowrap">Total results: @Model.TotalResults</small>

            <input type="hidden" asp-for="@Model.p"/>
            <select class="custom-select" asp-for="@Model.ps" onchange="this.form.submit()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>

        </div>

    </form>
</section>

<table class="table table-bordered table-striped table-hover border-top-0">
    <caption>
        <small>Page results: @Model.Categories.Count() - @Model.Stopwatch.ElapsedMilliseconds ms</small>
    </caption>
    <thead>
    <tr>

        <th class="position-sticky bg-white border-top-0" style="top: 115px">EntityID</th>
        <th class="position-sticky bg-white border-top-0" style="top: 115px">Name</th>
        <th class="position-sticky bg-white border-top-0" style="top: 115px">Parent Category</th>
        <th class="position-sticky bg-white border-top-0" style="top: 115px">Child Categories</th>
        <th class="position-sticky bg-white border-top-0" style="top: 115px">Products</th>
        <th class="position-sticky bg-white border-top-0 text-center" style="top: 115px">Active</th>
        <th class="position-sticky bg-white border-top-0" style="top: 115px"></th>

    </tr>
    </thead>
    <tbody>

    @foreach (var entity in Model.Categories)
    {
        <tr>
            <td>@entity.EntityId</td>
            <td>@entity.Name</td>
            <td>
                @if (entity.ParentCategory != null)
                {
                    <a asp-page="Edit" asp-route-entityId="@entity.ParentCategory.EntityId">
                        @entity.ParentCategory.Name
                    </a>
                }
            </td>
            <td>
                <a asp-route-Filter.Parent="@entity.EntityId">
                    @entity.ChildCategories.Count
                </a>
            </td>
            <td>
                <a asp-page="/Admin/Products/Index" asp-route-Filter.Category="@entity.EntityId">
                    @entity.ProductCount
                </a>
            </td>
            <td class="text-center">
                @if (entity.Active)
                {
                    <i class="fas fa-check fa-fw"></i>
                }
                else
                {
                    <i class="fas fa-times fa-fw"></i>
                }
            </td>
            <td class="text-right text-nowrap">
                <a class="btn btn-light btn-sm mr-1" asp-page="Edit" asp-route-entityId="@entity.EntityId">
                    <i class="fas fa-edit fa-fw"></i>
                </a>
                <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-entityId="@entity.EntityId">
                    <i class="fas fa-trash fa-fw"></i>
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>

@await Html.PartialAsync("Shared/Partials/Pagination")