@page
@using TheWebShop.Data.Entities.User
@model BasketModel
@inject SignInManager<UserEntity> SignInManager
@inject UserManager<UserEntity> UserManager
@{
    ViewData["Title"] = "Basket";
}

<form id="basketForm" method="post">

    <div class="row">
        <div class="col-md-8">
            @if (Model.Basket?.Items.Count > 0)
            {
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <h3 class="m-0">Basket</h3>
                        <small class="d-block text-muted mb-2">Donec vitae erat hendrerit, hendrerit lectus at, faucibus odio.</small>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button asp-page-handler="ClearBasket" class="btn btn-light btn-sm mr-1">
                            @* <i class="fas fa-trash fa-fw"></i> *@
                            Clear basket
                        </button>
                        <button class="btn btn-light btn-sm">
                            <i class="fas fa-sync fa-fw"></i>
                        </button>
                    </div>

                </div>

                <table class="table table-bordered">
                    <tbody>

                    @foreach (var group in Model.Basket.Items.OrderBy(x => x.Product.Brand.Name).GroupBy(x => x.Product.Brand.Name))
                    {
                        <tr>
                            <th colspan="3">
                                @group.Key
                            </th>
                        </tr>

                        @foreach (var item in group)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>
                                    <input class="form-control" style="max-width: fit-content" type="number" name="@item.ProductEntityId" value="@item.Quantity"/>
                                </td>
                                <td class="text-right text-monospace">@($"{item.Quantity * item.Product.Price:c}")</td>
                            </tr>
                        }
                    }

                    <tr>
                        <td colspan="2" class="text-center text-muted text-monospace" style="font-size: 1.125pc">@Model.Basket.Items.Sum(x => x.Quantity)</td>
                        <td class="text-right text-muted text-monospace" style="font-size: 1.125pc">
                            <small>eksl. moms</small> @($"{Model.Basket.Items.Sum(x => x.Quantity * x.Product.Price):c}")
                        </td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-right text-monospace" style="font-size: 1.25pc">
                            <small>inkl. moms</small> @($"{Model.Basket.Items.Sum(x => x.Quantity * x.Product.Price) * 1.25M:c}")
                        </th>
                    </tr>

                    </tbody>
                </table>

                <input id="productToBeRemoved" type="hidden" asp-for="@Model.ProductToBeRemoved"/>

                <script>
                    $(document).ready(function() {
                        $(".js-remove").click(function(e) {
                            $("#productToBeRemoved").val(this.dataset.productid);
                            $("#basketForm").submit();
                        });
                    });
                </script>
            }
            else
            {
                <small class="d-block text-muted text-center">You have no products in your cart.</small>
            }
        </div>

        <div class="col-md-4">
            @if (SignInManager.IsSignedIn(User))
            {
                <h4>Ordering</h4>
                <p class="text-justify">When you're ready to place your order, simply press the button below...</p>
                <button class="btn btn-light btn-block" asp-page-handler="PlaceOrder">Place order</button>
            }
            else
            {
                <h4>Login or Register</h4>
                <p class="text-justify">You have to login or register a new account to make an order.</p>
                <div class="d-flex">
                    <a class="btn btn-light btn-block mr-2" asp-page="/Account/Login">Login</a>
                    <a class="btn btn-light btn-block mt-0" asp-page="/Account/Register">Register</a>
                </div>
            }
        </div>
    </div>


</form>